<div class="mina-home-container">
    <h1>Twice M-m-m-mina!</h1>
    <span>
        <h3 class="mina-header">MY TWEETS</h3>
        <% @tweets.each do |tweet| %>
            <span class="mina-tweets-container">
                <%= tweet.full_text %>
            </span>
            <span class="mina-screen-name">
                -<%= tweet.user.screen_name %><br />
            </span>
        <% end %>

        <h3 class="mina-header">TWEETS #MINA</h3>
        <span><%= @minari %></span>
        <% @client_search_mina.each do |tweet| %>
            <%= tweet.text %> <br />
        <% end %>

    </span>

    <div class="mina-twitter-widget">
        <a class="twitter-timeline" href="https://twitter.com/minapics?ref_src=twsrc%5Etfw">Tweets by minapics</a>
    </div>

</div>