// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mina-home-container {
  margin: 5rem;
}

.mina-twitter-widget {
  margin: 3rem;
}

.mina-header {
  color: #3c3c5f;
}

.mina-tweets-container {
  color: #5353d4;
}

.mina-screen-name {
  color: black;
}