<!DOCTYPE html>
<html>
  <head>
    <title>MinariyanWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
